
.section-red{
    background-image: url('/public/Images/About3.jpg');
    background-color: rgba(10, 0, 10, 0.721);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:auto;
    height:auto;
    margin-top:210px;

    z-index: -1;
}
.container-red{

    padding:70px;
    text-align: center;
}
@media (max-width: 768px) {
    .section-red {
        margin-top: 0; /* Remove the margin on smaller devices */
    }
}
